body {
  padding: 25px;
  background: #fafafa;
}


.mdl-card__supporting-text  {
  color: rgba(0,0,0,0.87);
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #ffffff;
  background-image: url('/images/boat.jpg');
  background-position: center;
}
