body {
  padding: 20px;
  background: #fafafa;
  position: relative;
}

.main {
  width:500px;
  height:500px;
  margin:0 auto;
}

.demo-card-square.mdl-card {
  width: 620px;
  height: 620px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;

}
